@import "tailwindcss";

.textGradient{
  background: -webkit-linear-gradient(#4338ca, #818cf8);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover{
  cursor: pointer;
}

.purpleShadow{
  box-shadow: 3px 3px 1px 1px lavender ;
}

.purpleShadow:hover{
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px lavender;
}